<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Queue List</title>
</head>
<body>

<h1>Queue List</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Owner Name</th>
        <th>Action</th> <!-- Add a new column for the Join Queue button -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="queue : ${queues}">
        <td th:text="${queue.id}"></td>
        <td th:text="${queue.name}"></td>
        <td th:text="${queue.ownerName}"></td>
        <td>
            <form action="/queue" method="get">
                <input type="hidden" name="name" th:value="${queue.name}" />
                <input type="hidden" name="userId" th:value="${userId}" />
                <button type="submit">Details</button>
            </form>
        </td>
<!--        <td>-->
<!--            <form action="/joinQueue" method="post">-->
<!--                <input type="hidden" name="name" th:value="${queue.name}" />-->
<!--                <input type="hidden" name="userId" th:value="${userId}" />-->
<!--                <button type="submit">Join Queue</button>-->
<!--            </form>-->
<!--        </td>-->
    </tr>
    </tbody>
</table>

<form action="/getUserInfo" method="get">
    <input type="hidden" name="userId" th:value="${userId}" />
    <button type="submit">Back</button>
</form>

</body>
</html>
