<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>User Information</title>
</head>
<body>

<h1 th:text="'User Information for ' + ${userName}"></h1>

<h2>Your Queues:</h2>
<div th:each="queue : ${userQueues}">
    <div>
        <span th:text="${queue.name + '. Identificator: ' + queue.id}"></span>
        <form action="/closeQueue" method="get">
            <input type="hidden" name="name" th:value="${queue.name}" />
            <input type="hidden" name="userId" th:value="${userId}" />
            <button type="submit">Delete</button>
        </form>
        <span th:if="${!queue.getQueueEntries().isEmpty()}" th:text="${'Next one: ' + queue.getQueueEntries()[0].getUserName()}"></span>
        <form th:if="${!queue.getQueueEntries().isEmpty()}" action="/next" method="get">
            <input type="hidden" name="name" th:value="${queue.name}" />
            <input type="hidden" name="userId" th:value="${userId}" />
            <button type="submit">Next</button>
        </form>
    </div>
</div>
<h2>Your Entries:</h2>
<ul>
    <li th:each="entry : ${userEntries}" th:text="${entry.queue.name + ': Your place is ' + entry.id}"></li>
</ul>
<form th:action="@{/createQueue}" method="get">
    <input type="hidden" name="userId" th:value="${userId}" />
    <button type="submit">Create queue</button>
</form>
<form action="/queues" method="get">
    <input type="hidden" name="userId" th:value="${userId}" />
    <button type="submit">All queues</button>
</form>

</body>
</html>